@import "tailwindcss";

@font-face {
    font-family: 'DM Serif Text';
    src: url(/src/assets/DMSerifText-Regular.woff2);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@theme {
    --font-sans: 'DM Serif Text', system-ui, sans-serif;
}

@layer base {
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

  /* Quitar flechas en Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
}