---
import Layout from "../layouts/Layout.astro"
import Icon from "../components/Icon.astro"
---

<Layout>
    <Icon />
    <main class="max-w-7xl mx-auto pt-10 pb-28 px-4">
        
        <div class="flex flex-col items-center justify-center mb-10">
            <h1 class="max-md:max-w-xs max-md:pt-10 max-lg:max-w-xl text-4xl md:text-6xl font-extrabold text-balance text-center">Laboratorio del <span class="bg-gradient-to-r from-blue-500 via-blue-300 to-blue-600 bg-clip-text text-transparent drop-shadow-[0_0_15px_rgba(59,130,246,0.5)]">sueño</span></h1>
		</div>

        <div class="flex flex-col gap-7 justify-center items-center">
            <h2 class="text-4xl font-medium text-center text-gray-200 mb-2">Proximas citas</h2>

            <a href="/lista" class="flex items-center text-2xl gap-2 text-gray-50 hover:text-blue-600 transition hover:scale-105">
                Lista de pacientes
            </a>

            

        </div>

    </main>
</Layout>