<div class="absolute top-10 left-10">
    <a href="/lista" class="flex items-center gap-2 text-gray-50 hover:text-blue-600 transition hover:scale-105">
        <span>Volver a la lista</span>
    </a>
</div>